In [1]:
import os
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
# Load dataset
dfpath = os.path.join(os.getcwd(), "data", "training_data.csv")
print("Loading file from: {}".format(dfpath))

# Only store first 999999 rows for testing, comparable to data subset
df = pd.read_csv(dfpath, header=0, nrows=999999)
df.head()

Loading file from: C:\Programming\CustomerAnalysis\GroupAssignment\data\training_data.csv

,session_id_hash,event_type,product_action,product_sku_hash,server_timestamp_epoch_ms,hashed_url
0,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885210881,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
1,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,61ef3869355b78e11011f39fc7ac8f8dfb209b3442a9d5...,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
2,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885213307,4ed279f4f0deab6dfc80f4f7bf49d527fd894fa478a9ce...
3,20c458b802f6ea9374783bfc528b19421be977a6769785...,event_product,detail,d5157f8bc52965390fa21ad5842a8502bc3eb8b0930f3f...,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...
4,20c458b802f6ea9374783bfc528b19421be977a6769785...,pageview,NaN,NaN,1550885215484,7e4527ac6a32deed4f4f06bb7c49b907b7ca371e59d57d...

In [3]:
# Sessionization
# Taken from practical session file: Assumed this is about as efficient as it gets
df['product_action'] = df['product_action'].fillna('view')
df = df.groupby('session_id_hash')['product_action'].agg(tuple).reset_index()
del df['session_id_hash']
df.shape

(138074, 1)

In [4]:
# Drop all sessions not containing any 'add' events
df.drop(df[df.product_action.map(lambda x: 'add' not in x)].index, inplace=True)
df.shape

(5626, 1)

In [5]:
# Slice the head of the sessions until after the first add event
df['product_action'] = df['product_action'].map(lambda x: x[x.index('add') + 1:-1])
df.head()

                                       product_action
0   (view, detail, view, view, view, detail, view,...
1   (view, view, view, view, view, view, view, vie...
10                   (view, remove, view, view, view)
17  (remove, view, view, view, detail, view, view,...
39  (add, view, remove, view, view, view, view, de...

In [6]:
# Class labeling
# From practical session.
df['purchase'] = np.where(df.product_action.map(set(['purchase']).issubset), 1, 0)

In [7]:
# Cutting down purchase sessions
# Based on Carlijn Jurriaan's solution on Canvas discussion board
df['product_action'] = df['product_action'].map(lambda x: x[0:x.index('purchase')] if 'purchase' in x else x)

# Clear any empty lists from the database. Not sure if this is strictly necessary, given other filters.
df = df[df['product_action'].str.len() > 0]
df.head()

                                       product_action  purchase
0   (view, detail, view, view, view, detail, view,...         0
1   (view, view, view, view, view, view, view, vie...         0
10                   (view, remove, view, view, view)         0
17  (remove, view, view, view, detail, view, view,...         0
39  (add, view, remove, view, view, view, view, de...         1

In [8]:
# Drop all sessions with a length shorter than 5 or greater than 155
# Moved down since we're not evaluating any sessions with < 5 final results anyway
df.drop(df[~df.product_action.map(len).between(5, 155)].index, inplace=True)
df = df.reset_index()
del df['index']
df.shape

(3298, 2)

In [9]:
# Symbolization
# Based on practical session 1. Counter doesn't seem that useful but unsure about alternative
counts = Counter([item for session in df['product_action'] for item in session])
symbol_alpha = {action : idx for idx, action in enumerate(counts, 1)}
print(counts, '\nSymbol alphabet: ', symbol_alpha)

# Overwriting the product action column.
# Casting as a string (from tuple) is necessary for translating to dict in Oracle function
df['session'] = df['product_action'].map(lambda session: str(tuple([symbol_alpha[action] for action in session])))
df = df[['session', 'purchase']]
df.head()

Counter({'view': 50851, 'detail': 15086, 'remove': 6362, 'add': 2619})
Symbol alphabet:  {'view': 1, 'detail': 2, 'add': 3, 'remove': 4}

                                             session  purchase
0  (1, 2, 1, 1, 1, 2, 1, 2, 1, 3, 1, 1, 1, 1, 2, ...         0
1  (1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 2, 1, ...         0
2                                    (1, 4, 1, 1, 1)         0
3  (4, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 4, 1, 2, 1, ...         0
4  (3, 1, 4, 1, 1, 1, 1, 2, 3, 1, 2, 1, 1, 2, 1, ...         1

In [10]:
# Split set into training and validation set
from sklearn.model_selection import train_test_split

# No real reason for the selected ratio. In PS they used 70/30. Don't forget to set state.
training_set, eval_set = train_test_split(df, test_size=0.2, random_state=123, shuffle=False)
eval_set.head()

                                                session  purchase
2638            (1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1)         0
2639  (1, 1, 1, 1, 1, 4, 3, 1, 1, 1, 2, 1, 1, 1, 1, ...         1
2640                                 (1, 1, 1, 1, 2, 1)         0
2641                  (4, 1, 2, 1, 4, 1, 2, 1, 1, 1, 2)         0
2642               (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)         0

In [11]:
# Return an oracle file for N clicks after add event (e.g. event 0)
def make_oracle(dataset, max_clicks):
    
    """
    Find the count of each unique session, both for purchase and no purchase sessions
    Function creates an oracle based on the clicks post add-to-cart, so filters based on session length
    Since we dropped all actions up to and including first add we can start from index 0
    """ 
    
    n_buy = dataset.session[(eval_set['purchase'] == 1) & (dataset['session'].str.len() >= max_clicks)].value_counts()
    n_nobuy = dataset.session[(eval_set['purchase'] == 0) & (dataset['session'].str.len() >= max_clicks)].value_counts()
    
    oracle = dict.fromkeys(dataset.session)

    """
    Are we even calculating precision here? Is the assumption that everything is flagged as a purchase session?
    Took a guess and just applied the same principle to "recall" and used that as the basis for F1 score
    This insta-nukes every result that has a precision of 1 (since it does not occur in recall). Seems bad.
    """
    
    for key in oracle.keys():
        precision = n_buy.get(key, default=0) / (n_buy.get(key, default = 0) + n_nobuy.get(key, default = 0))
        recall = n_nobuy.get(key, default = 0) / (n_buy.get(key, default = 0) + n_nobuy.get(key, default = 0))
        f1 = 2 * ((precision * recall) / (precision + recall))
        oracle[key] = f1
    return oracle

# As per the assignment, oracles are made for 5, 10 and 15 post add-to-cart clicks
oracle5 = make_oracle(eval_set, 5)
#oracle10 = make_oracle(eval_set, 10)
#oracle15 = make_oracle(eval_set, 15)

In [12]:
# Subset all nonzero results (i.e. that can potentially lead to a purchase)
o5_nonzero = list([(key, value) for key, value in oracle5.items() if value > 0.0])
#print(oracle5)
print(o5_nonzero)

[('(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)', 0.4444444444444444), ('(1, 1, 1, 2, 1, 1, 1)', 0.5), ('(1, 1, 1, 1, 1, 1, 1)', 0.40816326530612246), ('(3, 1, 1, 1, 1, 1)', 0.5), ('(1, 1, 1, 1, 1, 1)', 0.5), ('(1, 2, 1, 1, 1)', 0.5), ('(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)', 0.4444444444444444), ('(1, 1, 1, 1, 1)', 0.4982698961937716), ('(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)', 0.5), ('(1, 1, 1, 1, 1, 1, 1, 1, 1)', 0.24489795918367344), ('(1, 1, 2, 1, 1, 1, 1)', 0.4444444444444444), ('(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)', 0.4444444444444444), ('(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)', 0.5), ('(1, 1, 1, 1, 1, 1, 2, 1, 1, 1)', 0.5)]